<div class="quiz-page">
    <mat-card color="accent" class="card">
        <mat-card-title *ngIf="!showSpinner">
            <div class="left-16px">
                Total Points: {{totalPoints}}
            </div>
            <div class="right-16px">
                {{currentProgress}}/10
            </div>
            <span>Guess the movie title</span>
        </mat-card-title>
        <mat-card-content *ngIf="!showSpinner">
            <div class="poster-container">
                <img [style.filter]="'blur(' + blurValue + 'px)'" class="movie-poster" src="{{movie.poster}}" alt="">
                <mat-icon #tooltip="matTooltip" matTooltip="Increase quality (-40 Points)"
                    [matTooltipPosition]="'above'" matTooltipHideDelay="1"
                    [class.lower-blur-icon]="showIcon && roundPoints > 40"
                    (click)="lowerBlurEffect(); lowerRoundPoints(40)">blur_off</mat-icon>
            </div>
            <div class="input-container">
                <input [class.shake]="shakeInputStatus" *ngIf="!showTitle" (input)="filterMovieList()"
                    [matAutocomplete]="auto" [(ngModel)]="playerAnswer" type="text" placeholder="Make a guess" name=""
                    id="">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"><mat-option
                        *ngFor="let option of filteredMovies, index as i" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>
                <button class="hide-mobile" *ngIf="!showTitle" (click)="checkPlayerAnswer()">Check answer</button>
                <div *ngIf="showTitle" class="movie-title">{{movie.title}}</div>
            </div>

            <button class="show-mobile mobile-check-answer" *ngIf="!showTitle" (click)="checkPlayerAnswer()">Check
                answer</button>


            <div class="hints">
                <div>Genre:
                    <p>{{movie.genre}}</p>
                </div>
                <div>Release Year:
                    <p *ngIf="roundPoints <= 20 && !showReleaseYear">Not enough points</p>
                    <p #tooltip="matTooltip" matTooltip="Show release year (-20 Points)" [matTooltipPosition]="'above'"
                        matTooltipHideDelay="1" (click)="showReleaseYear = true; lowerRoundPoints(20)" class="show-hint"
                        *ngIf="!showReleaseYear && roundPoints > 20">Show hint</p>
                    <p *ngIf="showReleaseYear">{{movie.year}}</p>
                </div>
                <div>Actors:
                    <p *ngIf="roundPoints <= 20 && !showActors">Not enough points</p>
                    <p #tooltip="matTooltip" matTooltip="Show actors (-20 Points)" [matTooltipPosition]="'above'"
                        matTooltipHideDelay="1" (click)="showActors = true; lowerRoundPoints(20)" class="show-hint"
                        *ngIf="!showActors && roundPoints > 20">Show
                        hint</p>
                    <p *ngIf="showActors">{{movie.actors}}</p>
                </div>
            </div>
            <div class="round-points">
                Round Points: {{roundPoints}}
                <span [class.hide]="!lowerRoundPointsAnimation"
                    [class.lower-points]="lowerRoundPointsAnimation">-{{subtractedPoints}}</span>
            </div>
            <div class="total-points-mobile show-mobile">
                Total Points: {{totalPoints}}
            </div>
            <button *ngIf="!showNext" (click)="revealMovie(true)" mat-mini-fab color="warn"
                class="reveal-mobile">
                <mat-icon>visibility</mat-icon>
            </button>
            <button *ngIf="showNext" (click)="nextMovie()" mat-mini-fab color="primary"
                class="reveal-mobile">
                <mat-icon>navigate_next</mat-icon>
            </button>
            <button #tooltip="matTooltip" matTooltip="Reveal Movie (lose all points)" [matTooltipPosition]="'above'"
                matTooltipHideDelay="1" *ngIf="!showNext" (click)="revealMovie(true)"
                class="reveal hide-mobile">Reveal</button>
            <button *ngIf="showNext" (click)="nextMovie()"
                class="next hide-mobile"><mat-icon>navigate_next</mat-icon></button>
        </mat-card-content>
        <div *ngIf="showSpinner" class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </mat-card>
</div>