/* You can add global styles to this file, and also import other style files */

@import 'theme';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
}

* {
    box-sizing: border-box;
}

.left-16px {
    left: 16px;
}

.right-16px {
    right: 16px;
}

.hide {
    display: none;
}