.end-screen-container {
    height: 100%;
    width: 100%;
    background-color: #615f5f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    align-items: center;
    position: relative;
    background: #424242;

    mat-card-title {
        min-height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        width: 100%;
        text-align: center;
        cursor: default;
        font-family: "Quicksand", sans-serif !important;
        position: relative;
        color: #ffb222;

        div {
            position: absolute;
            left: 16px;
            color: white;
        }
    }

    mat-card-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 26px;
        overflow: auto;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

.end-score {
    font-size: 32px;
    font-weight: bold;
}